* {
  font-family: '8BITWONDERNominal';
}

html,
body {
  min-height: 100vh;
  font-size: 1rem;
}

/* Start Button */
button {
  color: white;
  border: none;
  background: transparent;
  font-size: 2rem;
  padding: 10px;
}

#question, .answer, #result {
  padding: 20px;
}

body {
  font-family: '8BITWONDERNominal';
  display: flex;
  flex-direction: column;
  text-align: center;
  background: black;
  color: white;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.flex {
}

h1 {
  margin: 10px 10px;
  font-size: 2rem;
  flex-shrink: 0;
}

#timer {
  font-size: 5rem;
  margin: 20px 0px;
}
/* .container {
  max-width: 900px;
  margin: auto;
  background: pink;
  margin-top: 100px;
  text-align: center;
  height: 500px;
} */
